.input {
  width: 100%;
  height: 56px;
  padding: 16px 24px;

  border-radius: 12px;
  border: none;
  background: #F3F4F6;

  font-size: 16px;
  font-family: inherit;

  box-sizing: border-box;
}

.tagList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 14px;
}

.tagItem {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #F3F4F6;
  border-radius: 26px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

.tagItem button {
  background: none;
  border: none;
  cursor: pointer;
}

.tagItem img {
  width: 22px;
  height: 24px;
}